/**
 * Import all the rules from the parent.
 */
@import "../../bootstrap/less/moodle.less";
@import "variables.less";
@import "bootswatch.less";
@import "moodle/core.less";
@import "moodle/buttons.less";
@import "moodle/footer.less";
@import "moodle/navs.less";
@import "moodle/blocks.less";
@import "moodle/course.less";
@import "moodle/login.less";
@import "moodle/responsive.less";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('[[font:theme|glyphicons-halflings-regular.eot]]');
  src: url('[[font:theme|glyphicons-halflings-regular.eot]]?#iefix') format('embedded-opentype'),
       url('[[font:theme|glyphicons-halflings-regular.woff]]') format('woff'),
       url('[[font:theme|glyphicons-halflings-regular.ttf]]') format('truetype'),
       url('[[font:theme|glyphicons-halflings-regular.svg]]') format('svg');
}