/** blocks.less **/

.block_course_contents {
  .section-list {
    list-style: none;
    padding: 0;
    margin-left: 0px;
  }
  
  .section-item {
    list-style-image: none;
    padding: 4px;
  }
  
  .section-item.selected {
     background-color: #f5f5f5;
  }
}

.block_course_overview {
  border: none;
  box-shadow: none;
  
  .header {
    background-color: @white-bg;
    padding-left: 0;
    padding-right: 0;
    
    h2 {
      border-bottom: 1px solid #ddd;
      padding-bottom: 8px;
    }
  
  }
  
  .content {
    padding-left: 0;
    padding-right: 0;
  }
}
.block .header {
    padding: 10px 15px;
    border-bottom: 1px solid #f6f6f6;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background: @white-bg;
}

.block{
  border-radius:0;
  box-shadow:none;
  -webkit-box-shadow:none;
}
#block-region-side-pre{
  background:#eceeef;
  padding-top:10px;
}

.block_academic_year .content {
  background-color:@white-bg;
}

.ftoggler{
  margin-left:20px;
}

