/** blocks.less **/

.block_course_contents {
  .section-list {
    list-style: none;
    padding: 0;
    margin-left: 5px;
  }
  
  .section-item {
    list-style-image: none;
    padding: 4px;
  }
  
  .section-item.selected {
     background-color: lighten(@link-color, 50%);
  }
}