/** buttons.less **/


// general page container
#page {
  margin-bottom: 3em;
}

#block-region-side-pre {  
  @media (min-width: @screen-sm-min) {
    font-size: 0.92857em;
  }
}
#region-main{
  padding:10px 10px 10px 20px;
  margin: 0px;
}
[role="main"]{
    background: #fff;
    padding: 15px;
}
.page-header-content{
	background: #fff;
    margin-bottom: 15px;
    padding: 12px;
}
.page-header-content h1{
	margin-top:0;
}
.breadcrumb-button { 
    position: absolute;
    top: 20px;
    right: 30px;
}
.summary ol{
  padding-left:25px;
}