/* Login page style
   updated August 2017  
*/


#login__banner{ 
  width:100%;
  height:90px;
  position: absolute;
  top:0;
  left:0;
  background: rgba(255, 255, 255, 0.95);
 }
 #login__banner-logo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
  max-width: 300px;
 }
 #login__container{
  width:350px;
  background: rgba(255, 255, 255, 1);
  padding:10px;
  margin-top: 150px;
  margin-left:auto;
  margin-right: auto;
  border-radius: 5px;
 }
 #login__form{
    display: block;
    margin: auto;
    width: 260px;
 }
 #login__moodle-logo{
  width:100%;
  height:140px;
  border-bottom: thin #dedede solid;
 }
 #login__moodle-logo img{
  width:100%;
  margin:5px auto;
  padding:5px;
  margin-left:auto;
  margin-right: auto;
 }
 #login__avatar-container{
  width:100%;
 }
 #login__avatar-container img{  
  border-radius: 50%;
  border: #fff 10px solid;
  display: block;
  margin-left: auto;
  margin-right:auto;
  margin-top:-60px;
  width: 100px;
 }
.loginbox .form-input{
  background-color: #fff;
    border: thin solid #bbb;
    border-radius: 3px;
    display: block;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 8px;
    width: 240px;
    margin-bottom:25px;
 }
 #username{
  color: #5e5e5e;
  background: transparent none repeat scroll 0 0;
    border: medium none;
    box-sizing: border-box;    
    line-height: 16px;    
    width: 250px;
    box-shadow: none;
    font-size: 14px;
    display: inline-block;
    float: left;
    margin-left:25px;
    height: 16px;
    padding: 0;

 }
.login__username-icon{
    width:16px;
    height:16px;
    background: url([[pix:theme|username-icon]]) no-repeat;
    display: block;
}
#password{
  color: #5e5e5e;
  background: transparent none repeat scroll 0 0;
    border: medium none;
    box-sizing: border-box;   
    line-height: 16px;    
    width: 250px;
    box-shadow: none;
    font-size: 14px;
    display: inline-block;
    float: left;
    height: 16px;
    padding: 0;
    margin-left:25px;
    margin-bottom:15px;
 }
.login__password-icon{
    width:16px;
    height:16px;
    background: url([[pix:theme|password-icon]]) no-repeat;
    display:block;
}
.login__help{
    color: #666;
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
    text-decoration: none;
}
.login__help:hover{
    color: #00acdf;
}
#login__button{
    background: #00acdf none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    color: #fff;
    height: 50px;
    padding: 0;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}
#login__support-container{
    display: block;
    margin: auto;
    width: 255px;
    padding-bottom: 10px;
}
.login__support{
    display: inline-block;
    height: 120px;
    padding: 15px;
    position: relative;
    text-decoration: none;
    width: 120px;
}
.login__support img{
    width: 90px;
}
.login__support-text{
    bottom: 10px;
    display: block;
    font-size: 12px;
    margin-top: 12px;
    text-align: center;
    width: 93px;
    color: #666;
}

.login__support-text:hover{
    color:#00acdf;
}


.signuppanel{
    display:none;
}
/* Amend Syles To Adjust Or Hide Old Elements */ 
.loginpanel h2{
    display:none;
}
.loginsub .form-label{
    display:none;
}
.loginpanel{
  width:300px;
  background: rgba(255, 255, 255, 1);
  padding:10px;
  margin-left:auto;
  margin-right: auto;
  border-radius: 5px;
  border:none;
  float:unset;
}
.loginbox.twocolumns .loginpanel {
     background: rgba(255, 255, 255, 1);
     border:none;
}

#loginbtn{
    background: #00acdf none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    padding: 10px;
    width: 100%;
}
@media (min-width: @screen-lg-min){
 .loginbox.twocolumns .loginpanel {
 float: unset;
 width: 3px;
 background-color: #fff;
 border:none;
 webkit-box-shadow: none;
    box-shadow: none;
 }
}
@media (min-width: @screen-sm-min){
 .loginbox.twocolumns .loginpanel {
    float: unset;
    width: 300px;
    padding:0px;
    background-color: #fff;
    webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom:0;
 }

}
.loginbox .loginform .form-input{
    margin-bottom:25px;
}
.loginbox .desc{
    display:none;
}
.loginbox input[type="submit"] {
    margin: 0px 0px 20px 0px;
}
.forgotpass a{
    color: #666;
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
    text-decoration: none;
}