/* responsive.less  */
@media (min-width: @screen-xs-min) {
    body#page-login-index, body#page-maintenance-message {
        background: url([[pix:theme|home/background-2017-xs]]) no-repeat center center fixed;
        background-size: cover;        
    }
}
@media (max-width: @screen-xs-min) {
    body#page-login-index, body#page-maintenance-message {
        background: url([[pix:theme|home/background-2017-xs]]) no-repeat center center fixed;
        background-size: cover;        
    }
}

@media (min-width: @screen-sm-min) {
    body#page-login-index, body#page-maintenance-message {
        background: url([[pix:theme|home/background-2017-sm]]) no-repeat center center fixed;
        background-size: cover;
    }    
}

@media (min-width: @screen-lg-min) {
    body#page-login-index, body#page-maintenance-message {
        background: url([[pix:theme|home/background-2017-lg]]) no-repeat center center fixed;
        background-size: cover;
        
    }
}



@media (min-width: @screen-sm-min) {
    body {
      margin: 0 0 150px;
    }
    
    #page-footer nav {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
    }
}    
